birdsong-recognition/xsd/ErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="Errors"><xs:complexType><xs:sequence><xs:element type="xs:double" name="LevenshteinError"/><xs:element type="xs:double" name="MatchingError"/></xs:sequence></xs:complexType></xs:element></xs:schema>
